---
import GitHub from './icons/GitHub.astro';
import NextJS from './icons/NextJS.astro';
import Tailwind from './icons/Tailwind.astro';
import Link from './icons/Link.astro';
import LinkButton from './LinkButton.astro';
import PHPIcon from './icons/PHP.astro';
import JSIcon from './icons/JS.astro';
import MySQL from './icons/MySQL.astro';
import Bootstrap from './icons/Bootstrap.astro';
import AstroIcon from './icons/Aastro.astro';
import ReactIcon from './icons/React.astro';
import NodeJSIcon from './icons/NodeJS.astro';
import NpmIcon from './icons/Npm.astro';
import ViteJSIcon from './icons/ViteJS.astro';
import CSSIcon from './icons/CSS.astro';
import HTMLIcon from './icons/HTML.astro';

const TAGS = {
  PHP: {
    name: 'PHP',
    class: 'bg-purple-600 text-white',
    icon: PHPIcon,
  },
  JS: {
    name: 'JavaScript',
    class: 'bg-yellow-500 text-black',
    icon: JSIcon,
  },
  MySQL: {
    name: 'MySQL',
    class: 'bg-blue-400 text-white',
    icon: MySQL,
  },
  BOOTSTRAP: {
    name: 'Bootstrap',
    class: 'bg-purple-500 text-white',
    icon: Bootstrap,
  },
  Astro: {
    name: 'Astro',
    class: 'bg-purple-950 text-white',
    icon: AstroIcon,
  },
  NEXT: {
    name: 'Next.js',
    class: 'bg-black text-white',
    icon: NextJS,
  },
  TAILWIND: {
    name: 'Tailwind CSS',
    class: 'bg-[#003159] text-white',
    icon: Tailwind,
  },
  REACT: {
    name: 'React',
    class: 'bg-blue-800 text-white',
    icon: ReactIcon,
  },
  NODEJS: {
    name: 'Node.js',
    class: 'bg-green-900 text-white',
    icon: NodeJSIcon,
  },
  NPM: {
    name: 'NPM',
    class: 'bg-red-950 text-white',
    icon: NpmIcon,
  },
  VITEJS: {
    name: 'Vite.js',
    class: 'bg-[#646cff] text-white',
    icon: ViteJSIcon,
  },
  CSS: {
    name: 'CSS',
    class: 'bg-blue-800 text-white',
    icon: CSSIcon,
  },
  HTML: {
    name: 'HTML',
    class: 'bg-orange-800 text-white',
    icon: HTMLIcon,
  },
};

const PROJECTS = [
  {
    title: 'Turiscompra',
    description:
      'Este proyecto tiene como objetivo conectar directamente a los campesinos con los consumidores mediante una tienda virtual. A través de la plataforma, los campesinos pueden registrar sus productos, gestionar ventas y controlar sus propias transacciones de manera autónoma.',
    link: 'https://turiscompra.infinityfreeapp.com',
    github: 'https://github.com/Mono-A3/Turiscompra',
    image: '/projects/turiscompra.webp',
    tags: [TAGS.PHP, TAGS.JS, TAGS.MySQL, TAGS.BOOTSTRAP],
  },
  {
    title: 'Andres Araque',
    description:
      'Es el proyecto central que agrupa mis creaciones, reflejando mi evolución como desarrollador. Está diseñado para ser accesible y mostrar mis habilidades al resolver desafíos en el desarrollo web.',
    link: 'https://andresaraque.com',
    github: 'https://github.com/Mono-A3/AndresAraque',
    image: '/projects/AndresAraque.webp',
    tags: [TAGS.Astro, TAGS.TAILWIND, TAGS.JS, TAGS.NODEJS],
  },
  {
    title: 'Personal Upcoming',
    description:
      'Es una landing page minimalista y atractiva que comunica a los usuarios que algo emocionante está en camino. Utiliza un estilo de videojuegos retro.',
    link: 'https://andresaraque.com/upcoming',
    github: 'https://github.com/Mono-A3/Personal-Upcoming',
    image: '/projects/upcoming.webp',
    tags: [TAGS.Astro, TAGS.HTML, TAGS.CSS, TAGS.JS, TAGS.NODEJS],
  },
  {
    title: 'Próxima Película Marvel',
    description:
      'Este proyecto te mantiene al tanto de las próximas películas del universo Marvel. Está desarrollado con tecnologías modernas y está desplegado en plataformas confiables.',
    link: 'https://proxima-pelicula-marvel.infinityfreeapp.com/',
    github: 'https://github.com/Mono-A3/proxima-pelicula-marvel',
    image: '/projects/proximaPelicula.webp',
    tags: [TAGS.PHP],
  },
  {
    title: 'Random Commits',
    description:
      'Es una herramienta ligera y práctica que genera mensajes creativos y entretenidos de manera aleatoria. Ideal para quienes buscan agregar un toque de humor y originalidad a sus proyectos.',
    link: 'https://www.npmjs.com/package/random-str-msg-aa',
    github: 'https://github.com/Mono-A3/random-str-msg-aa',
    image: '/projects/randomCommits.webp',
    tags: [TAGS.NODEJS, TAGS.JS, TAGS.NPM],
  },
  {
    title: 'Generator QR',
    description:
      'Este es un proyecto que te permite generar códigos QR de manera rápida y sencilla. Con esta herramienta, puedes convertir cualquier enlace en un código QR listo para descargar y compartir.',
    link: 'https://generator-qr-andres.netlify.app',
    github: 'https://github.com/Mono-A3/generator-qr',
    image: '/projects/generatorQR.webp',
    tags: [TAGS.JS, TAGS.HTML, TAGS.CSS],
  },
  {
    title: 'Todo Machine',
    description:
      'Es un proyecto desarrollado con React.js, con el objetivo de comprender y aplicar las bases del desarrollo de aplicaciones web modernas. La aplicación demuestra el uso de componentes reutilizables, manejo de estado y eventos, y buenas prácticas en la organización del código.',
    link: 'https://mono-a3.github.io/todo-machine/',
    github: 'https://github.com/Mono-A3/todo-machine',
    image: '/projects/todosMachine.webp',
    tags: [TAGS.REACT, TAGS.CSS, TAGS.NODEJS, TAGS.JS],
  },
  {
    title: 'E-commerce Shopi',
    description:
      'E-commerce Shopi es una aplicación de comercio electrónico que combina un frontend dinámico con React.js y Vite.js, y un backend desarrollado en Node.js. La aplicación utiliza Tailwind CSS para estilos, ofreciendo una interfaz moderna.',
    link: 'https://shopi-andres.netlify.app/',
    github: 'https://github.com/Mono-A3/e-commerce-shopi',
    image: '/projects/ecommerceShopi.webp',
    tags: [TAGS.VITEJS, TAGS.REACT, TAGS.TAILWIND, TAGS.NODEJS, TAGS.JS],
  },
];

// Pagination
const ITEMS_PER_PAGE = 3;
---

<div class="flex flex-col items-center gap-y-16 px-4 projects-container">
  {
    PROJECTS.map(({ title, description, link, github, image, tags }, index) => {
      const page = Math.floor(index / ITEMS_PER_PAGE) + 1;
      return (
        <article
          class="project-item flex flex-col space-y-8 group md:flex-row md:space-x-8 md:space-y-0 w-full max-w-4xl"
          data-page={page}
          style={page === 1 ? "display: flex;" : "display: none;"}
        >
          <!-- Imagen -->
          <div class="w-full md:w-1/2 flex justify-center">
            <div class="relative flex flex-col items-center gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
              <img
                alt="Imagen del Proyecto"
                class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
                loading="eager"
                src={image}
              />
            </div>
          </div>

          <!-- Contenido -->
          <div class="w-full md:w-1/2 flex flex-col justify-center">
            <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">{title}</h3>
            <div class="flex flex-wrap mt-2">
              <ul class="flex flex-row flex-wrap mb-2 gap-x-2">
                {tags.map((tag) => (
                  <li>
                    <span class={`flex gap-x-2 mb-2 rounded-full text-xs ${tag.class} py-1 px-2`}>
                        <tag.icon class="size-4 w-4 h-4" />
                      {tag.name}
                    </span>
                  </li>
                ))}
              </ul>
            </div>

            <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </article>
      );
    })
  }
</div>

<!-- Controles de paginación -->
<div class='flex justify-center mt-8'>
  <button class='px-4 py-2 mx-2 text-white bg-gray-800 rounded disabled:opacity-50' id='btn-previous' disabled>
    Anterior
  </button>

  <span class='px-4 py-2 mx-2 pagination-info'> Página 1 de 1 </span>

  <button class='px-4 py-2 mx-2 text-white bg-gray-800 rounded disabled:opacity-50' id='btn-next'> Siguiente </button>
</div>

<!-- Script de paginación SIN SimplePagination.js -->
<script is:inline>
  document.addEventListener('DOMContentLoaded', function () {
    const itemsPerPage = 3;
    const projects = document.querySelectorAll('.project-item');
    const totalPages = Math.ceil(projects.length / itemsPerPage);
    let currentPage = 1;

    function showPage(page) {
      projects.forEach((project) => {
        project.style.display = project.getAttribute('data-page') == page ? 'flex' : 'none';
      });

      // Actualiza el texto de la paginación
      document.querySelector('.pagination-info').textContent = `Página ${page} de ${totalPages}`;

      // Habilita o deshabilita botones
      document.getElementById('btn-previous').disabled = page === 1;
      document.getElementById('btn-next').disabled = page === totalPages;
    }

    // Eventos de los botones
    document.getElementById('btn-next').addEventListener('click', function () {
      if (currentPage < totalPages) {
        currentPage++;
        showPage(currentPage);
      }
    });

    document.getElementById('btn-previous').addEventListener('click', function () {
      if (currentPage > 1) {
        currentPage--;
        showPage(currentPage);
      }
    });

    // Iniciar en la primera página
    showPage(1);
  });
</script>

